.btn {
    display: inline-flex;
    font-family: 'Karla';
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-primary);
    color: #000;
    border: none;
    border-radius: var(--border-radius);
    width: 200px;
    height: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    min-width: max-content;
    padding: 0 2em;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-highlight-2);
    color: #fff;
}

.btn_small {
    width: 124px;
    height: 32px;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    .btn {
        height: 50px;
        width: 180px;
        font-size: 16px;
    }
}